
 @font-face {
  font-family: 'Suisse';
  src: url('../src/font/SuisseIntl-Book.ttf') format('truetype'),
       url('../src/font/SuisseIntl-Book.woff') format('woff'),
       url('../src/font/SuisseIntl-Book.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0 auto;
  max-width: 95%;
  padding: 20px;
  background-color: #DEDEDE;
  color: #000000;
  font-family: 'Suisse';


  > div {
    margin: 0 auto;
  }

  .menu{
    display: flex;
    justify-content: space-between;
  }


  //overwrite all svg of the page 
  svg{
    width: 25px;
  }
}

canvas{
  position: fixed;
  top:0;
  left: 0;
  z-index: -1;
  background: transparent;
}

header{
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-text {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}